<div class="row row-cols-1 row-cols-md-3 g-1">
    <ListItems Items="Vm.Notes" Context="note">
        <ItemTemplate>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@note.Title</h5>
                        <p class="card-text">
                            @note.Description
                        </p>
                    </div>
                </div>
            </div>
        </ItemTemplate>
    </ListItems>
</div>
