<div class="mx-3">
    <EditForm Model="Vm" OnValidSubmit="Vm.SaveNoteAsync">
        <div class="mb-2">
            <InputText  placeholder="Title"  id="title" @bind-Value="Vm.Title" class="w-100" />
        </div>
        <div>
            <InputTextArea placeholder="Description" id="description" @bind-Value="Vm.Description" class="w-100" />
        </div>
        <div class="d-flex flex-row-reverse mt-2 mb-3">
            <ButtonWithSpinner Vm="Vm.SpinnerVm">
                <button class="btn btn-primary" type="submit">Save Note</button>
            </ButtonWithSpinner>
        </div>
    </EditForm>
</div>