@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <LoginView />
    </NotAuthorized>
    <Authorized>
        <Header />
        <Sidebar />
        <main id="main" class="main">
            <Notifier />
            <Modal/>
            @Body
        </main>
    </Authorized>
    <Authorizing>
        <Spinner />
    </Authorizing>
</AuthorizeView>
