@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
    <Authorized>
        <Header />
        <Sidebar />
        <main id="main" class="main">
        <h1>Hello @context?.User?.Identity?.Name !!</h1>
            @Body
        </main>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>
