@typeparam TItem

@if (Items is null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    foreach (var item in Items)
    {
        @if (ItemTemplate is not null)
        {
            @ItemTemplate(item)
        }
    }
}